.container, .panel {
  width: 300px;
  height: 400px;
}
.container {
	perspective: 1000;

}
.container.flip .flipper {
  transform: rotateY(180deg);
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.panel {
  border: 1px solid black;
  background: grey;
  display: none;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.flipped-back {
  display: block;
	z-index: 2;
	transform: rotateY(0deg);
}

.flipped-front {
  display: block;
	transform: rotateY(180deg);
}