<div class="app">
  {{#> wrapper }}
    <div class="panel panel-first">{{> card-feature-list feat_list_context }}</div>
    <div class="panel panel-second">{{> card-edit-form edit_context }}</div>
    <div class="panel panel-third">{{> card-done done_context }}</div>
    <div class="panel panel-error">{{> card-error error_context }}</div>
  {{/wrapper}}
</div>