<div class="container">
  <div class="flipper">
    <div id="panel-container1" class="panel"></div>
    <div id="panel-container2" class="panel"></div>
    <div id="panel-container3" class="panel"></div>
  </div>
</div>