<h2>{{ title }}</h2>
<div class="line"></div>
{{#if isPhone }}
<input name="userPhone" />
{{/if}}
{{#if isWebsite }}
<input name="userWebsite" />
{{/if}}
<button class="done">{{ action_title }}</button>